.circle-pagination {
  margin: 393px 0 0 80px;

  &__counter {
    font-size: 14px;
    margin-bottom: 20px;
  }

  &__arrows {
    display: flex;
    gap: 20px;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--primary-color-opacity-50);
    border-radius: 50%;
    color: var(--primary-color);
    background-color: var(--bg-color);
    transition-property: background-color, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
  }
  &__arrow:disabled {
    cursor: auto;
    opacity: 50%;
  }
  &__arrow:hover {
    background-color: white;
  }
}

@container (max-width: 1280px) {
  .circle-pagination {
    position: absolute;
    top: 505px;
    left: 20px;
    margin: 0;
    z-index: 2;

    &__counter {
      margin-bottom: 10px;
    }

    &__arrows {
      gap: 8px;
    }

    &__arrow {
      width: 25px;
      height: 25px;
    }
  }
}
